.footer{
    background-color: $main-black;
    padding: 2rem 0 4.4rem 0;
	&__container-top{
        display: flex;
        justify-content: space-between;
    }
    .icons{
        display: flex;
    }
    .icon{
        cursor: pointer;
        svg{
            width: 2.4rem;
            height: 2.4rem;
        }
        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }
    &__container-left{
        display: flex;
        flex-direction: column;
    }
	&__container-right{
        text-align: right;
    }
	&__text{
        color: #FFF;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2rem;
    }
	&__container-bottom{
        display: flex;
        justify-content: space-between;
        color: #fff;
        font-size: 2rem;
        font-weight: 400;
        line-height: 2rem;
        letter-spacing: .2rem;
    }
    hr{
        display: block;
        width: 100%;
        background-color: #fff;
        height: 0.1rem;
        margin: 3rem 0 4.4rem 0
    }
    &__username{
        a{
            color: #fff;
            text-align: center;
            cursor: pointer;
            transition: all .4s;
            &:hover{
                color: $main;
            }
        }
    }
    &__github{
        display: inline-block;
        svg{
            width: 2.4rem;
            height: 2.4rem;
            color: #BB945F;
        }
    }
    &__content a{
        color: #fff;
    }
}