.header{
    background-color: $main-black;
    &__line{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 9rem;
    }
    &__container{
        display: flex;
    }
    .navbar{
        display: flex;
        align-items: center;
        height: 5rem;
        
        @include respond(tab-main){
            position: fixed;
            transform: translateX(100%);
            transition: right 0.7s ease,  opacity 0.7s ease;
            top: 0;
            right: -100%;
            opacity: 0;
            z-index: 10;
            &.active{
                background-color: #000;
                width: 33.2rem;
                height: 57rem;
                top: 0;
                right: 0;
                flex-direction: column;
                justify-content: center;
                transform: translateX(0);
                opacity: 1;
                right: 0;
                z-index: 10;
            } 
        }
        @include respond(phone){
            &.active{
                width: 100%;
                height: 100vh;
            }
        }
        &__item{
            @include respond(tab-main){
                margin-bottom: 3rem;
            }
        }
        &__item:not(:last-child){
            margin-right: 3rem;
            @include respond(tab-main){ 
                margin-right: 0;
            }
        }
        &__item:last-child{
            margin-right: 4rem;
            @include respond(tab-main){ 
                margin-right: 0;
            }
        }
        &__link{
            color: #FFF;
            font-size: 2rem;
            font-style: normal;
            font-weight: 400;
            transition: all .4s;
            &:hover{
                color: $main;
            }
        }
    }
    .icons{
        align-self: center;
        svg{
            width: 2.8rem;
            height: 2.8rem;
        }
        @include respond(tab-main){
            z-index: 10;
            position: absolute;
            top: 3.1rem;
            right: 10.5rem;
        }
        @include respond(phone){
            right: 8rem;
        }
        @include respond(small-phone){
            top: 2rem;
        }
    }
    .sidebar{
        display: none;
        align-self: center;
        margin-left: 4rem;
        width: 4.5rem;
        height: 4rem;
        cursor: pointer;
        position: absolute;
        top: 3.3rem;
        right: 2rem;
        z-index: 10;
        @include respond(tab-main){
            display: block;
        }
        @include respond(small-phone){
            top: 2.2rem;
        }
        .hamburger{
            position: relative;
            width: 4.5rem;
            height: 0.2rem;
            background-color: #fff;
            
            &::before{
                content: "";
                top: 1rem;
                left: 0;
            }
            &::after{
                content: "";
                top: 2rem;
                left: 0;
            }
            &::before, &::after{
                position: absolute;
                display: block;
                background-color: #fff;
                width: 4.5rem;
                height: 0.2rem;
            }
            &.active {
                transform: translateY(1rem) rotate(45deg);
                position: fixed;

                &::before {
                    transform: translateY(-1rem) rotate(90deg);
                }
                &::after {
                    display: none;
                }
            }
        }
    }
}
