.library-cards{
    padding: 2rem 0 4rem 0;
    &__subtitle{
        margin-bottom: 4rem;
    }
    &__container{
        display: flex;
        justify-content: space-between;
        &-right{
            max-width: 45.6rem;
            text-align: right;
        }
    }
    &__title{
        font-size: 3rem;
        letter-spacing: 0.06rem;
        margin-bottom: 3rem;
        text-align: center;
    }
    &__sub{
        color: #000;
        font-family: 'Forum', cursive;
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: 0.06rem;
        margin-bottom: 3.5rem;
    }
    &__text{
        letter-spacing: 0.04rem;
        margin-bottom: 3.5rem;
    }
    &__btn{
        width: 7.5rem;
        padding: .9rem 0;
        font-size: 1rem;
        &:not(:last-child){
            margin-right: 2rem;
        }
    }
}