.welcome{
    background-image: url("../img/welcome-background.jpg");
    width: 100%;
    padding: 22rem 0 16rem 0;
    &__block{
        color: #FFF;
        text-align: center;
        font-family: 'Forum';
        font-size: 4rem;
        line-height: 5rem;
        letter-spacing: .3rem;
        text-transform: uppercase;
        background-color: $main-black;
        max-width: 60rem;
        padding: 3.5rem 4rem;
    }
}