.carousel{
    position: relative;
    width: 100%;
    height: 56rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include respond(phone){
        height: 36rem;
    }
    &__container{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2.5rem;
        width: 100%;
        max-width: 140rem;
        overflow: hidden;
    }
    &__image{
        display: none;
    }
    &__image img{
        width: 100%;
        max-width: 45rem;
    }
    &__dots{
        display: flex;
        position: absolute;
        bottom: -4rem;
        left: 50%;
        transform: translateX(-50%);
    }
    &__dot{
        width: 1.6rem;
        height: 1.6rem;
        border-radius:  50%;
        background-color: #000;
        z-index: 10;
        cursor: pointer;
        &:not(:last-child){
            margin-right: 1rem;
        }
        &-4{
            display: none;
        }
        &-5{
            display: none;
        }
        &-6{
            display: none;
        }
        @include respond(tab-main){
            &-4{
                display: block;
            }
            &-5{
                display: block;
            }
            &-6{
                display: block;
            }
        }
    }
    .active-dot{
        background-color: $main;
    }
    &__btn{
        position: absolute;
        cursor: pointer;
        display: none;
        @include respond(tab-main){
            display: block;
        }
        @include respond(tab-port){
            display: none;
        }
        svg{
            width: 1.4rem;
            height: 2.2rem;
        }
        &-prev{
            top: 50%;
            left: 7.9rem;
        }
        &-next{
            top: 50%;
            right: 7.9rem;
        }
    }
}