.carousel{
    position: relative;
    .gallery{
        max-width: 140rem;
        width: 100%;
        overflow: hidden;
        position: relative;
        & ul{
            max-width: 140rem;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2.5rem;
            max-height: 56rem;
            transition: margin-left 250ms;
            margin: 0;
            padding: 0;
            @include respond(small-phone){
                max-height: 45rem;
            }
        }
        & li{
            max-width: 45rem;
            width: 100%;
        }
        &__btn{
            display: none;
            cursor: pointer;
            width: 2rem;
            height: 3rem;
            @include respond(tab-main){
                display: block;
            }
            @include respond(tab-port){
                display: none;       
            }
            svg{
                width: 1.4rem;
                height: 2.3rem;
            }
            &-prev{
                position: absolute;
                top: 28.9rem;
                left: 5.9rem;
            }
            &-next{
                position: absolute;
                right: 5.9rem;
                top: 28.9rem;
            }
        }
    }
    &__wrapper{
        display: flex;
        position: absolute;
        bottom: -4rem;
        left: 50%;
        transform: translateX(-50%);
    }
    &__dot{
        width: 1.6rem;
        height: 1.6rem;
        border-radius:  50%;
        background-color: #000;
        cursor: pointer;
        &:not(:last-child){
            margin-right: 1rem;
        }
    }
    .active-dot{
        background-color: $main;
    }
}