.library-card-form{
    border: .3rem solid $main;
    padding: 2rem 2rem 3rem 2rem;
    box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.25);
    @include respond(tab-main){
        max-width: 60rem;
        align-self: center;
    }
    @include respond(tab-port){
        max-width: 48rem;
    }
    @include respond(phone){
        max-width: 36rem;
    }
    @include respond(small-phone){
        max-width: 28rem;
    }
    &__container{
        padding: 2rem 2rem 2.5rem 2rem;
        max-width: 56rem;
        background-color: $main;
        margin-bottom: 2rem;
    }
	&__title{
        font-family: 'Forum';
        font-size: 3rem;
        line-height: 5rem;
        letter-spacing: 0.06rem;
        margin-bottom: 2rem;
        @include respond(phone){
            font-size: 2.5rem;
        }
        @include respond(small-phone){
            font-size: 1.9rem;
            margin-bottom: 1rem;
        }
    }
	&__inputs{
        display: flex;
        flex-direction: column;
    }
	&__input{
        // width: 100%;
        width: 52rem;
        color: #8E8E8E;
        font-family: 'Forum';
        font-size: 3rem;
        font-weight: 400;
        line-height: 5rem;
        letter-spacing: 0.06rem;
        border-radius: 1rem;
        padding: .8rem 0 .8rem 2rem;
        &:not(:last-child){
            margin-bottom: 2.5rem;
        }
        @include respond(tab-port){
            width: 35rem;
        }
        @include respond(phone){
            width: 28rem;
            font-size: 2.5rem;
        }
        @include respond(small-phone){
            width: 20rem;
            font-size: 1.9rem;
            padding: .3rem 0 .3rem 2rem;
        }
    }
	&__btn{
        padding: 1rem 4rem;
        font-size: 2rem;
        display: block;
        margin: 0 auto;
        @include respond(small-phone){
            font-size: 1.5rem;
            padding: 1rem 5.2rem;
        }
    }
}
