.slider{
    position: relative;
    &__line{
        width: 140rem;
        display: flex;
        justify-content: center;
        gap: 2.5rem;
        overflow: hidden;
        transition: transform 0.3s ease;
    }
    
    &__img{
        width: 100%;
        max-width: 45rem;
    }
    &__dot{
        width: 1.6rem;
        height: 1.6rem;
        border-radius:  50%;
        background-color: #000;
        cursor: pointer;
        &:not(:last-child){
            margin-right: 1rem;
        }
    }
    &__wrapper{
        display: flex;
        position: absolute;
        bottom: -4rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .active-dot{
        background-color: $main;
    }
    &__btn-prev{
        display: none;
    }
    &__btn-next{
        display: none;
    }
}